/* You can add global styles to this file, and also import other style files */

html,
body {
  box-sizing: border-box;
  margin: unset;
  min-height: 100vh;
}

html {
  display: block;
}

body {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
